<html lang="en">
<head>
<style>
.follow-us {
	font-size: 5vw;
    margin-left: 20px;
    line-height: 15vw;
}
.follow-us2 {
	margin: 0px;
    padding: 5px 20px;
}
a{
	text-decoration: none;
	color: #000000;
}
.go-to {
	line-height: 75px;
	font-size: 5vw;
	text-align: center;
	background-color: yellow;
	margin: 10px 0px 0px 0px;
}
</style>
</head>
<ion-view >
	 <ion-content>
	 	<div>
	 		<img src="img/About-Us.png" style="max-width: 100%;" />
	 	</div>
	 	<div>
			<a href="#"><p class="follow-us2"><img class="img-responsive" src="img/google-play-logo.png" align="left" style="width: 15vw;"/>
			<span class="follow-us">Rate us on Google Play</span></p></a><hr>

			<a href="#"><p class="follow-us2"><img class="img-responsive" src="img/facebook_logo.png" align="left" style="width: 15vw;"/>
			<span class="follow-us">Like us on Facebook</span></p></a><hr>

			<a href="#"><p class="follow-us2"><img class="img-responsive" src="img/twitter_logo.png" align="left" style="width: 15vw;"/>
			<span class="follow-us">Follow us on Twitter</span></p></a><hr>

			<a href="#"><p class="follow-us2"><img class="img-responsive" src="img/Insta_logo.png" align="left" style="width: 15vw;"/>
			<span class="follow-us">Follow us on Instagram</span></p></a><hr>

			<a href="#"><p class="follow-us2"><img class="img-responsive" src="img/pinterest_logo.png" align="left" style="width: 15vw;"/>
			<span class="follow-us">Pin us on Pinterest</span></p></a><hr>

			<a href="#"><p class="follow-us2"><img class="img-responsive" src="img/google+-logo.png" align="left" style="width: 15vw;"/>
			<span class="follow-us">Follow us on Google+</span></p></a>

			<a href="#"><p class="go-to">
			Go to the full Website</p></a>
	 	</div>
	 </ion-content>
</ion-view>
</html>