<h2 class="heading">Founder (Shrii Prabhat Ranjan Sarkar)</h2>
<p>
	
	Shrii Prabhat Ranjan Sarkar known as Shrii Shrii Anandamurtijii in the spiritual world, was the founder-president of Ananda Marga Pracaraka Samgha, the world wide organization propagating the ideas and ideology guven by its founder. 
</p>
<p>
	He was born on Vaeshkhi Purnima day of 1921 in Jamalpur, Bihar and lived his ideals right from childhood. His spiritual dimension was unknown until the day of Shravani Purnima, 1939. On that day, He initiated his first disciple, Kalicharan Banerjee, an infamous dacoit, at Kashi Mitra Ghat in Kolkata. The first monk of the new order of Avadhutas; was named Kalikananda Avadhuta by his Guru Shrii Shrii Anandamurtijii
</p>
<p>
	After Shri Laxminarayan Sarkar, His father, passed away (then he was Hardly 15), mother, smt. Abharani Sarkar, did not lose heart and directed Him to go to Kolkata for higher education. He went to Kolkata to study at Vidyasagar College, but had to come back after two years to support the family at Jamalpur.
</p>
<p>
	He took up job in the same railway workshop where His father was working. While working there, Shrii Prabhat Ranjan Sarkar started initiating His colleagues and friends in spiritual practice. On 9th January 1955 He established Ananda Marga when the first Dharma Maha Cakra was held; He blessed His devotees who had met for the first time.
</p>
<p>
	To accelerate the pracar, He created full dedicated whole-time workers, who later joined the order of Avadhutas. The Pracar of Ananda Marga spread like wild fire all over India and within just a few years hundreds of whole-time workers joined the mission to spread the ideals of their Guru all over India and abroad.
</p>
<p>
	In 1971, He was jailed on trumped-up murder charges. After declaring the state of emergency in 1975, the central Government banned Ananda Marga organization. All active followers were put behind bars.After a long time, ultimately truth prevailed. He was honourably acquitted of all charges by Patna High Court. When he was in jail, a heinous conspiracy was hatched to kill him by giving poison. Demanding a judicial inquiry into this attempt to kill Him, He fasted for more than 5 years and 4 months. He came out of jail on 2nd August 1978.
</p>
<p>
	Shrii P.R.Sarkar gave solution for all the problems humanity is facing and worked tirelessly to implement those solutions. He inspired His disciples to establish one an indivisible human society. Not only did He bring clarity to Dharma and Spiritual concepts, He also gave a very scientific spiritual cult. He asserted that without following Yama & Niyama the code of conduct- sadhana, psycho-spiritual progress cannot be achieved. He made a clear distinction between Dharma and Religion. He boldly declared that Dharma is one for whole humanity. It cannot change with changes in time, place & person. 
</p>
<p>
	The most important thing He did as the Guru of millions of His devotees all over the world is that He changed their lives, gave them a lot confidence, and inculcated positivity into their thinking. He was their Baba- the most beloved father.   
</p>