<h2 class="heading">PAINCADASHASHIILA</h2>
<ol>
	<li>Forgiveness.</li>
	<li>Magnanimity of mind.</li>
	<li>Perpetual restraint on behaviour and temper.</li>
	<li>Readiness to sacrifice everything of individual life of ideology.</li>
	<li>All-round self-restraint.</li>
	<li>Sweet and smiling behaviour.</li>
	<li>Moral courage.</li>
	<li>Setting an example by individual conduct before asking any body to do the same.</li>
	<li>Keeping oneself aloof from criticising others or condemning others, or mudslinging and all sorts of groupism.</li>
	<li>Strict adherence to Yama and Niyama.</li>
	<li>Due to carelessness, if any mistake is commited unknowingly or unconsciously, one must admit it immediately and ask for punishment.
</li>
	<li>Even while dealing with a person of inimical nature one must keep oneself free from hatred, anger and vanity.</li>
	<li>One should keep oneself aloof from talkativeness.</li>
	<li>Obedience to structural code of discipline.</li>
	<li>Sense of responsiblity. </li>
</ol>