<ion-view  view-title="<span>Bliss</span><img src='img/logo.png' class='pull-right' />">
	 <ion-content class="main-page-link-ddescription">
	 	<div class="blog_content3">
	 	            <h2><a href="What is Bliss.html" class="Q-A_head_ing">What is Bliss..?</a></h2>
	 	            <img class="img-responsive posted-by-img" src="img/Posted-by-tapas.png" width="32px" height="32px" align="left"/>
	 	            <h5 class="posted_by"><span class="last_update">Posted By: Tapas Dev</span>Last Updated: 03/01/2017 </h5>
	 	            
	 	            <p class="blog_style">A'nanda Ma'rga is a worldwide socio-spiritual mission founded by Shri Prabhat Ranjan Sarkar. It teaches scientific practices of self-development to all free of charge.<span ng-show="readMore1">vndfvnf vfdkbvkdfj vhdfbvdfjkb</span></p>

	 	            <p class="text-center"><a href="#" class="btn btn_style readMore" ng-show="!readMore1" role="button" style="border-radius: 0px; padding-left: 20px; padding-right: 20px; " ng-click="readMore(1)">Read More</a></p>
	 	                                
	 	        </div>
	 	        <hr>
	 	        <div class="blog_content3">
	 	            <h2><a href="What is Bliss.html" class="Q-A_head_ing">What is Bliss..?</a></h2>
	 	            <img class="img-responsive posted-by-img" src="img/Posted-by-tapas.png" width="32px" height="32px" align="left"/>
	 	            <h5 class="posted_by"><span class="last_update">Posted By: Tapas Dev</span>Last Updated: 03/01/2017 </h5>
	 	            
	 	            <p class="blog_style">A'nanda Ma'rga is a worldwide socio-spiritual mission founded by Shri Prabhat Ranjan Sarkar. It teaches scientific practices of self-development to all free of charge.<span ng-show="readMore2">vndfvnf vfdkbvkdfj vhdfbvdfjkb</span></p>

	 	            <p class="text-center"><a href="#" class="btn btn_style readMore" ng-show="!readMore2" role="button" style="border-radius: 0px; padding-left: 20px; padding-right: 20px; " ng-click="readMore(2)">Read More</a></p>
	 	                                
	 	        </div>
	 </ion-content>
</ion-view>