<h2 class="heading">SIXTEEN POINTS</h2>
<ol>
	<li> After urination, wash the urinary organ with water.</li>
	<li> Males should either be circumcised or keep the foreskin pulled back at all time.</li>
	<li>Never cut the hair of the joints of body.</li>
	<li>Males should always use Kaopiina(langota).</li>
	<li>Do Vyapaka Shaoca as directed.</li>
	<li>Bath according to the prescribed system.</li>
	<li>Take only Sa'ttvika (sentient) Food.</li>
	<li>Observe Upavasa (Fast) as prescribed.</li>
	<li>Do Sa'dhana' regularly.</li>
	<li>Observe noncompromising strictness and faith regarding the sanctity of the Is't'a (Goal).</li>
	<li>Observe noncompromising strictness and faith regarding the sanctity of A'darsha (Ideology).</li>
	<li>Observe noncompromising strictness and faith regarding the sanctity of the Supreme Command.</li>
	<li>Observe noncompromising strictness and faith regarding the sanctity of the Conduct rules.</li>
	<li>Always remember the content of your oaths.</li>
	<li>Regular participation in the weekly Dharma chakra at the local Ja'grti should be considered mandatory.</li>
	<li>Observe C.S.D.K.(Conduct Rules, Seminar, Duty, Kiirtana). </li>
</ol>