	 <ion-content>
	 		<h2 class="head_ing2">Some selected opinions</h2>
						<div class="blog_style_AV">
						<p >It gladdens me to learn that Guru Shrii A’nandamu’rtijii (Prabhat Ranjan Sarkar) has composed these versatile songs full of meaning and lyrical beauty in mere eight years. I only wish had I taken birth 25 years later, I would have had the opportunity to sing these songs.<br>
						
						<span class="mantra3">-Padma Vibhushan Pandit Jas Raj (Eminent Classical Singer)</span></p>
						</div>
						<div class="blog_style_AV1">
						<p >Sarkar’s visionary philosophy, ideals and actional plans clearly point that His is a renaissance movement, the need of the present day’s troubled humanity. Such a movement will surely spread and the humanity will accept it.<br>
						
						<span class="mantra3">-Dom Moraes (Noted Poet & Journalist)</span></p>
						</div>
						
						<div class="blog_style_AV">
						<p >Everybody should be benefited by increase in production. How it can happen-has been explained by Shrii P.R. Sarkar in his PROUT theory. Decentralization, not centralization of economic power is the way out.<br>
						
						<span class="mantra3"> -Prof. Debnarayan Sarkar (Secy. Center for economic studies, Presidency University)</span></p>
						</div>
						
						<div class="blog_style_AV1">
						<p >These beautiful Prabhat samgiit songs composed and set to tunes by Shrii Sarkar need to be brought to the world’s attention at the earliest.<br>
						
						<span class="mantra3">-Padma Vibhushan Ustad Amjad Ali Khan (Eminent Sarod Player)</span></p>
						</div>
						
						<div class="blog_style_AV">
						<p >The songs composed by Him, the vast amount of literature given by Him stand out as the brightest jewel of His noble personality. I extend all my good will and cooperation in propagating His teachings.<br>
						
						<span class="mantra3">-Vijay Tendulkar (Eminent Marathi Play Writer)</span></p>
						</div>
						
						<div class="blog_style_AV1">
						<p >In general we find Sarkar’s works exemplary for the following reasons. In terms of economic his work is strong on both growth and distribution dimensions. Sarkar is also eclectic in his theory of political economy drawing on market and regulatory mechanisms. Alienation is a result not of private property but of the concentration of wealth and of the location of the self in a materialistic paradigm…<br>
						
						<span class="mantra3">-Prof. Sohail Inayatullah(Member of World future Studies Federation 
                        & Prof. Queensland University, Australia)</span></p>
						</div>
						
						<div class="blog_style_AV">
						<p >It is treat to hear the Prabhat Samgiit songs composed by Shrii Sarkar. They are fresh in style and rhythm. The world will surely know about them soon.<br>
						
						<span class="mantra3">-Padma Vibhushan Pandit Shiv Kumar Sharma (Eminent Santoor Player)</span></p>
						</div>
						
						<div class="blog_style_AV1">
						<p >I am delighted to hear the Prabhat samgiit songs composed by Shrii Prabhat Ranjan Sarkar. They are exceptionally good in meter and lyrical beauty. I and my Institute os Hindusthani Music will always be ready to extend any help in propagating these beautiful compositions.<br>
						
						<span class="mantra3">Naushad (Famous Music Director)</span></p>
						</div>
						
						<div class="blog_style_AV">
						<p >I won’t forget this evening of RAWA. I generally communicate with the people through colours and canvas. Shri Sarkar delivered an insight into the devotional characteristics and a new impact of Prabhat Samgiita in this age of sheer intensity and gruesome speed.<br>
						
						<span class="mantra3">-Shrii Ramananda Bandopadhyay (Eminent painter and artist in sculpture)</span></p>
						</div>
						
						<div class="blog_style_AV1">
						<p >The writings of Shrii P.R. Sarkar are refreshing and informative on all subjects that concern human life. As a writer I wish to pay my respect to Him for His profound knowledge.<br>
						
						<span class="mantra3">-Shankar (Shrii Mani Shankar Mukherjee)(Eminent Bengali Novelist & writer)</span></p>
						</div>
	  </ion-content>