<ion-view>
	 <ion-content class="sidebarContentBody bookTitle bookBody">
	 	<div ng-show="bookPageIndex == 1">
	 		<h2 class="heading">Sádhaná (Intuitional Practice)</h2>
			<p>(1) Mandatory observances (duties) of Ananda Margis:</p>
			<p>(a) The one formless, beginningless and infinite Parama Brahma (Supreme Consciousness) is the only entity to be attained by living beings – That alone is Jagat Guru (the Supreme preceptor), That alone has revealed Brahmavidyá (intuitional science) to us through the medium of the name and form of Anandamúrtijii. Unit beings must be made to appreciate Its majesty.</p>
			<p>(b) Whether one is healthy or sick, whether in a sitting or lying posture, or in a vehicle, full Iishvara prańidhána (meditation) will have to be performed twice a day. Whether there be any urgent work in the immediate future or not, and whether the mind be unsteady or not, all sádhakas should do japa (repeat Iśt́a mantra (The mantra which leads to the ultimate goal) eighty times at first, and then continue japa for as long as they like, according to instructions, without counting.</p>
			<p>Do not have breakfast until you have finished your Iishvara prańidhána in the morning. Likewise, do not take your evening meal until you have completed your evening Iishvara prańidhána.</p>
			<p>(c) The requirements and prohibitions of Yama and Niyama have to be observed under all circumstances.</p>
			<p>Yama has five parts –(i) ahiḿsá, (ii) satya, (iii) asteya, iv) Brahmacarya, v) aparigraha.</p>
			<p>(i) Ahiḿsá: Not to inflict pain or hurt on anybody by thought, word or action, is Ahiḿsá.</p>
			<p>(ii) Satya: The benevolent use of mind and words is Satya.</p>
			<p>(iii) Asteya: To renounce the desire to acquire or retain the wealth of others is Asteya. Asteya means “ non-stealing.”</p>
			<p>(iv) Brahmacarya: To keep the mind always absorbed in Brahma is Brahmacarya.</p>
			<p>(v) Aparigraha: To renounce everything excepting the necessities for the maintenance of the body is known as Aparigraha.</p>
			<p>Niyama has five parts – (i) shaoca, (ii) santośa, (iii) tapah, (iv) svádhyáya, (v) Iishvara prańidhána.</p>
			<p>(i) Shaoca is of two kinds – purity of the body and of the mind. The methods for mental purity are kindliness towards all creatures, charity, working for the welfare of others and being dutiful.</p>
			<p>(ii) Santośa Contentment with things received unasked-for is santośa. It is essential to try to be cheerful always.</p>
			<p>(iii) Tapah: To undergo physical hardship to attain the objective is known as Tapah. Upavása (fasting), serving the guru (preceptor), serving father and mother, and the four types of yajiṋa, namely, pitr yajiṋa, nr yajiṋa, bhúta yajiṋa and adhyátma yajiṋa (service to ancestors, to humanity, to lower beings and to Consciousness), are the other limbs of tapah. For students, study is the main tapah.</p>
			<p>(iv) Svádhyáya: The study, with proper understanding, of scriptures and philosophical books is svádhyáya. The philosophical books and scriptures of Bliss are Ánanda Sútram and Subháśita Saḿgraha (all parts), respectively. Svádhyáya is also done by attending dharmacakra (group meditation) regularly and having satsauṋga (spiritual company), but this kind of svádhyáya is intended only for those who are not capable of studying in the above manner.</p>
			<p>(v) Iishvara prańidhána: This is to have firm faith in Iishvara (the Cosmic Controller) in pleasure and pain, prosperity and adversity, and to think of oneself as the instrument, and not the wielder of the instrument, in all the affairs of life.</p>
			<p>(d) No creature should be allowed to starve to death. Even a játa shatru (born enemy) should not be starved to death, nor left mutilated.</p>
			<p>(e) The weekly dharmacakra must be attended when you are in good health. If because of state service or service to the sick one is not able to attend dharmacakra at the scheduled time, then one should go to the jágrti at some time that day and perform Iishvara prańidhána. And if even that is not possible, one must miss a meal on the week-end.</p>
			<p>(2) When you fast for mental purification, you should give your food to a needy passerby, and use the drinking water to water the plants.</p>
			<p>(3) Bear in mind that you have a duty towards – indeed, you owe a debt to – every creature of this universe, but towards you, no one has any duty; from others, nothing is due.</p>
			<p>(4) An animal life is given to carnal pleasure human life is for sádhaná; but, for sádhaná the body is necessary – so in order to maintain the body, you will have to be vigilant about everything in the world.</p>
			<p>(5) Everything requires a base; if life does not have a strong base, it is disrupted by an ordinary storm. Brahma is the strongest base.</p>
			<p>(6) Dharma (spirituality) is an internal thing. One who is hollow within conceals it in ringing brass bells, beating drums and making noises all around.</p>
			<P>(7) One will not be able to know anything unless one develops the psychology of “I know not.” It is the fundamental spirit of a true aspirant.</p>
			<p>(8) Human life is short. It is wise to get all the instructions regarding sádhaná as soon as possible.</p>
			<p>(9) When the flow of the mind is not impeded by selfishness, narrowness, and superstitions that alone is mukti (liberation).</p>
			<P>(10)
				<span>“Whatever you speak or do,</span>
				<span>Forget Him never;</span>
				<span>Keeping His name in your heart,</span>
				<span>Work, remembering it is for Him,</span>
				<span>And, endlessly active, drift in bliss.”</span>
			</p>
			<p>(11) Through all works, big and small, humanity has to be awakened. Humanity in its fullest sense is divinity, and its perfection is Brahmatva (Brahma-hood). The aspirant must not forget this even for a moment.</p>
			<p>(12) When one notices a defect in oneself, and does not find the means for shásti (corrective punishment), one should purify the mind by fasting.</p>
			<p>(13) Before censuring anyone for some fault, make sure that you do not have the same defect.</p>
			<p>(14) When one is established in Yama and Niyama, aśt́a pásha (the eight fetters) fall from the mind. One who is not fettered can never have superstitions.</p>
			<p>(15) Actions and not logic establish one’s superiority.</p>
			<p>(16) Do not try to assume superiority by belittling others, because the other person’s inferiority will become lodged in your mind.</p>
			<p>(17) Overcome censure by praise, darkness by light.</p>
			<p>(18) Not to call a thing what it is, but to call it something else, is known as slander. Therefore those who in the name of the beginningless, endless, formless Brahma worship idols, are indulging in deliberate slander. You must not give indulgence to this type of Mahapápa (great sin).</p>
			<p>(19) By práńáyáma, pratyáhára, dhárańá and dhyána (lessons of sádhaná: vital-energy control, withdrawal, concentration and meditation), the enemies of mind are controlled. You will have to bring the fetters and the enemies under your control – you should not be controlled by them. But in the very nature of living things, human beings will always have these fetters and enemies of the mind.</p>
			<p>(20) The major part of the slander in the world is based on falsehood. Some indulge in it unknowingly, some because their petty interests are hurt, and others, under the compulsion of hiḿsa vrtti (the mental propensity of harmfulness). With a cool mind you should explain this to the slanderer, but before doing so, make sure there is not even a farthing’s worth of truth in his statement. If there is even a little fault in you, you should keep your mouth closed and accept it all, and you should thank the person for pointing out your fault and ask for punishment.</p>
			<p>(21) You should always bear in mind that you should not try to convince by argument anyone who criticizes your Iśt́a (Goal), Ádarsha (ideology), Supreme Command or Conduct Rules. If this occurs you should adopt a hard and uncompromising attitude.</p>
			<p>1956, Jamalpur</p>
		</div>
	 	<div ng-show="bookPageIndex == 2">
	 		<h2 class="heading">The Body</h2>
			<p>(1) Keep the body neat and clean like a temple.</p>
			<p>(2) After urination cleanse with water or by some other means.</p>
			<p>(3) Twice daily before your regular meditation, and before any other time of meditation, bath or vyápaka shaoca (thorough cleanliness, half bath) must be done.</p>
			<p>(4) Before taking food and before going to sleep, do vyápaka shaoca with cold water, or in cold weather, with lukewarm water.</p>
			<p>(Method of doing vyápaka shaoca: At first wash your genital organs; then hands up to elbows and legs up to knees; then, taking a mouthful of water, splash water on the eyes and face at least twelve times. Finally wash the ears and the neck. Do násápána (flushing the nostrils with water) also (only if your stomach is empty).</p>
			<p>(5) It is imperative to fast without water on ekádashii (eleventh day after full moon and new moon). In addition, if desired, a fast can be observed on two more days of the month, namely púrńimá (full moon) and amávasyá (new moon). For a sannyásii (renunciant) it is imperative to fast invariably on both ekádashiis, púrńimá and amávasyá.</p>
			<p>1956, Jamalpur</p>
		</div>
		<div ng-show="bookPageIndex == 3">
	 		<h2 class="heading">Society</h2>
			<p>(1) Before taking food, ascertain if anybody present there has not eaten. If anyone has not eaten, do not take food unless the person willingly gives permission.</p>
			<p>(2) Whatever food you have, distribute it equally among all the Margis present, and then eat. But if somebody expresses unwillingness to eat, that is a different matter. You need not then feel restrained.</p>
			<p>(3) Love all, trust in all, but do not give responsibility to those not established in Yama-Niyama.</p>
			<p>(4) Science is not the enemy of humanity. Avidyá (ignorance) is the enemy of humanity. Keep strict vigilance that the knowledge of science is confined only to those persons who are established in Yama-Niyama.</p>
			<p>(5) Hypocrites are:</p>
			<p>(a) Those who give indulgence to falsehood;</p>
			<p>(b) Those who are ungrateful to their benefactors;</p>
			<p>(c) Those who do not keep their word;</p>
			<p>(d) Those who betray;</p>
			<p>(e) Those who slander behind one’s back.</p>
			<p>(6) You may come to a temporary truce with a hypocrite, but do not forgive till his/her nature is reformed. Immediate forgiveness is a special weakness of mind. It results in worse harm to society.</p>
			<p>Those who cherish class distinctions, communalism, provincialism and casteism while indulging in propaganda about universalism are also hypocrites.</p>
			<p>(7) Help the weak and the helpless in all possible ways.</p>
			<p>(8) You should always strive to maintain the honour of women, without considering whether a woman belongs to a particular caste or religion.</p>
			<p>(9) Never attack the religious beliefs of anyone. Make the person understand gradually with logic. If you attack a person’s religious beliefs, it means you have attacked Bliss.</p>
			<p>(10) Distinctions based on profession, wealth and birth are man-made. You must not give indulgence to these things in any way. Only vested interests are behind class distinctions.</p>
			<p>(11) To ensure the subsistence of ácáryas (spiritual teachers), all kinds of sacrifice should be accepted.</p>
			<p>(12) One who does not come forward to help when seeing a person in distress is unworthy to be called a human being – he or she is a slur on Bliss.</p>
			<p>(13) The unity of Ananda Margis should not be allowed to be jeopardized for any reason. Unity should be maintained even at the risk of your life.</p>
			<p>(14) If an Ananda Margi engages in harming another Ananda Margi he or she remains under the condemnation of Ánandamúrtijii till his/her conduct is reformed.</p>
			<p>(15) Agriculture, arts, commerce and other developmental work should, as far as possible, be carried out on a cooperative basis.</p>
			<p>(16) Fine arts lead human beings to the trans-sensory realm; hence sádhakas should not discourage fine arts; rather they should support them, directly or indirectly.</p>
			<p>(17) Artists are great benefactors of society, hence take active steps for their protection. For example, before enacting a drama or its translation, enough money for a day’s maintenance must be given to the author.</p>
			<p>(18) If a drama or other art performance is staged and a charge is made for tickets, after deducting the incidental expenditure, the remaining money should be distributed among the artists, half on the basis of labour and half on the basis of merit.</p>
			<p>(19) The faults of others should be excused as far as possible. If you find that the conduct of an individual is antisocial, you should try to reform his or her nature by resorting to whatever severe measures may be necessary. Remember, he or she is not your enemy, but his/her conduct is the enemy of your society.</p>
			<p>(20) Four kinds of debt are irredeemable – debt to father, debt to mother, debt to ácárya, and debt to guru (divine debt).</p>
			<p>(a) The only way to do service to one’s father after his death is to help every male member of the universe to progress on the path of highest development.</p>
			<p>(b) The only way to do service to one’s mother after her death is to help every female member of the universe to progress on the path of highest development.</p>
			<p>(c) The best service to the ácárya is to work for the comfort and benefit of one’s ácárya and his/her family.</p>
			<p>(d) The best service to Márga Guru is to work according to His wishes. But however much service one renders, one will not redeem the four debts until Mokśa (salvation) is attained.</p>
			<p>(21) Sevá (service) is of four kinds – shúdrocita, vaeshyocita, kśatriyocita and viprocita. This is known as nr yajiṋa.</p>
			<p>Serving the sick, performing the funeral rites of a dead body, helping the suffering and doing all possible developmental work, through physical labour, is known as shúdrocita sevá.</p>
			<p>Economic service to living beings and the giving of food and water is vaeshyocita sevá.
			<p>To rescue a person in distress, or to compel a person moving on the wrong path to come to the right path, by one’s strength, physical capability and courage, is kśatriyocita sevá.</p>
			<p>To help human society in its mental and spiritual development by application of parájiṋána (intuitional knowledge) is viprocita sevá.</p>
			<p>Remember that the value of each service is the same. Whatever kind of service is most necessary at a given time should be rendered.</p>
			<p>The scriptures express that vipras are like the head of virát́puruśa (Supreme Consciousness), kśatriyas are like the arms, vaeshyas are like the trunk and shúdras are like the two legs. Think, therefore, are not all four purposive? The head controls the legs, and the legs support the head.</p>
			<p>The result of viprocita sevá is lasting and that of the rest is short-lived. But even so, under special conditions, kśatriyocita, vaeshyocita or shúdrocita service may be the only recourse – there viprocita sevá may perhaps be completely meaningless.</p>
			<p>(As the base of the jiiva [being] is Brahma, so the base of society is the shúdra; hence for one who cannot be a good shúdra, to try to become kśatriya, vaeshya or vipra is meaningless).</p>
			<p>An Ananda Margi will have to be vipra, kśatriya, vaeshya and shúdra all at once.</p>
			<p>(22) Businessmen:</p>
			<p>(a) Do not create pressure of circumstances to force anyone to buy your goods.</p>
			<p>(b) Do not sell adulterated goods.</p>
			<p>(c) If you feel it difficult to run business in a given line as a result of not selling adulterated goods, completely stop purchase and sale in that line, and do not forgive adulterators till they are reformed.</p>
			<p>(d) Remember, for you the greatest opportunity lies in vaeshyocita sevá.</p>
			<p>(e) Specially ensure that the stores of the disaster relief section of the Marga remain full.</p>
			<p>(23) Employees of different institutions:</p>
			<p>(a) Consider yourselves as servants of the common people.</p>
			<p>(b) Do not, on any account, accept or offer a bribe.</p>
			<p>(c) If someone, through pressure of circumstances compels you to offer or accept a bribe, do not forgive that person till he/she is reformed.</p>
			<p>(d) If, in consideration of the power of your post, anyone offers you a present, that should count as a bribe.</p>
			<p>(24) Householders:</p>
			<p>(a) If someone offers you something out of regard for you (and not in consideration of the power of your post), you should accept and use it cheerfully, however inexpensive it might be.</p>
			<p>(b) You should cooperate fully with all welfare activities, governmental or non-governmental.</p>
			<p>(c) Do not offer a bribe to anyone. If someone through pressure of circumstances forces you to offer a bribe, do not forgive that person till he/she is reformed.</p>
			<p>(d) Unless the doctor objects, his fair dues must be paid.</p>
			<p>(25) Doctors:</p>
			<p>(a) The convenience of the patient must be given more consideration than your own.</p>
			<p>(b) If the patient dies, do not take any fee for that visit.</p>
			<p>(c) If all the children of the dead person are minors, then unpaid fees should be forsaken.</p>
			<p>(d), Do not use adulterated medicine. If you feel it difficult to carry on your practice without using such medicine, then purchase and sale of that medicine should be stopped and as long as the nature of the adulterators of that medicine is not reformed, do not forgive them.</p>
			<p>(26) Political workers:</p>
			<p>(a) Do not be misled by anybody’s tall talk.</p>
			<p>(b) Do not have any dealings with a party whose policies are opposed to those of the Marga.</p>
			<p>(c) Continue efforts to change the activities of a party whose policies are in agreement with the Marga but whose activities are opposed to it.</p>
			<p>(d) Those not established in Yama-Niyama should not get the opportunity to assume leadership.</p>
			<p>(e) For the selfish and hypocrites, politics is the best instrument to achieve their selfish ends; hence when dealing in politics proceed very cautiously and with sharp eyes all around.</p>
			<p>(27) Electorate:</p>
			<p>(a) Do not be misled by anyone’s tall talk. Judge merit by seeing the performance.</p>
			<p>(b) Remember, whatever position one is in offers sufficient opportunity to work.</p>
			<p>(c) One whose character is not in accordance with Yama-Niyama should not get opportunity for becoming a representative.</p>
			<p>(d) Only people established in Yama-Niyama deserve your support; in case of more than one such person, vote for the best worker.</p>
			<p>Rather than support an incompetent person, it is better not to exercise one’s franchise because to invest an incompetent person with power means to push society towards destruction knowingly and deliberately.</p>
			<p>(28) The steps of shásti (corrective punishment):</p>
			<p>(a) First attempt to bring the guilty person around through sweet words.</p>
			<p>(b) Secondly, adopt a stiff attitude.</p>
			<p>(c) Thirdly, tell him or her about the possible punishment for the offence.</p>
			<p>(d) Fourthly, take steps for punishment.</p>
			<p>(29) Degrees of crime:</p>
			<p>(a) Activities harmful to the Marga, [[hypocrisy]], theft and the persecution of women are the greatest crimes. Such criminals should be categorized as mahápátakiis (great sinners) and severe measures should be taken against them from the beginning.</p>
			<p>(b) Weapons should not be used against those criminals who are not mahápátakiis and are weaponless. If a criminal is alone, more than one person must not attack him with weapons; and if he asks for forgiveness, whether you forgive him or not, do not hit him. Do not attack from behind. Do not take severe measures against old people and children.</p>
			<p>(30) Dharma (spirituality) is for all walks of individual and collective life. Those who think that dharma is a personal system of worship or that dharma is completely a personal affair are wrong, and their mistake: hurts collective progress.</p>
			<p>(31) Service and tolerance:</p>
			<p>(a) Cooperate with all in the field of social service.</p>
			<p>(b) Propagate Bliss ideology without casting aspersions on others out of intolerance.</p>
			<p>(c) Try your best to arrange alternative means of livelihood for religious professionals, irrespective of their connection with Bliss, if they face financial difficulties as a result of extensive propagation of Bliss ideology.</p>
			<p>(32) No one in Bliss is anyone’s servant. Use terms like “agricultural assistant” or “family assistant” according to the nature of their work. Look after your assistants as your own children and pay attention towards their all-round development. Fix the time for their Iishvara prańidhána and help them to acquire social status. Never be an impediment their progress.</p>
			<p>(33) Set an example of manliness by marrying a shelterless woman. Do not under any circumstances allow her to lead a disrespectable life.</p>
			<p>(34) The meaning of the Saḿgacchadhvaḿ mantra should be realized in life. Always remain united. Solve all problems, big or small, with unity. Consider misfortune of one as the misfortune of all, an injury to one as an injury to all.</p>
			<p>(35) You may participate in all kinds of innocent ceremonies. As, in principle, you do not support the philosophy of those who, in the name of worship of God, indulge in idolatry, do not participate in their ceremonies.</p>
			<p>(36) If dowry is demanded on behalf of either the bride or the bridegroom at a wedding, you can help out manually as required, and if you feel like it, you can give a present, but you must not take food there.</p>
			<p>(37) Priityanna: If a person wants to feed you out of genuine intimacy, you should take that food happily, even if it is just grains and vegetables. But if someone invites you only to make a show to people, never accept his/her food.</p>
			<p>Ápadanna: When life is jeopardized because of the lack of food and water, you need not consider whether the food is prohibited on any grounds or comes from an unworthy person.</p>
			<p>Shráddhánna: Shráddhánna (food offered at a memorial service) is neither priityanna nor ápadanna, hence it is not to be taken.</p>
			<p>(38) The habit of making wagers is extremely undesirable. You must avoid lotteries and gambling.</p>
			<p>(39) Prerequisites for shásti:</p>
			<p>(a) Before punishing a person you should consider whether you love him/her or not. You do not have the moral right to punish one whom you do not love.</p>
			<p>(b) Punishment should be meted out to reform and not to cause suffering.</p>
			<p>(c) The quantum of punishment must not exceed the quantum of love.</p>
			<p>(d) If some innocent person is pained by any of your actions, then without considering whether he/she is your superior or inferior, you should sincerely seek his/her forgiveness; this will only enhance your prestige.</p>
			<p>(40) You should try to get advice from everyone, but accept only the best. One whose advice you were unable to accept should not feel internally that he/she is trifling or insignificant to you, to society, or to the organization.</p>
			<p>(41) Do not judge anyone to be good or bad hastily, nor express your opinion. Even a small mistake in your decision or in your expression may result in collective harm to society.</p>
			<p>(42) Remember, with every person you have a relationship of love and not of fear; those who love you will certainly give you recognition.</p>
			<p>(43) Do not hurt an honest person even slightly.</p>
			<p>1956, Jamalpur</p>
		</div>
		<div ng-show="bookPageIndex == 4">
	 		<h2 class="heading">Miscellaneous</h2>
			<p>1) Everyone should sit on equal seats for dharmacakra and meals.</p>
			<p>(2) Before killing birds and animals for food, you must think a hundred times whether you can stay alive without killing them.</p>
			<p>(3) A country can be conquered by force of arms but the mind cannot. Those who have taken to sádhaná to conquer the mind are true soldiers. The aim of Ananda Margis is to conquer the Universal Mind. To achieve that, they will have to acquire the qualities of soldiers. They will have to keep especially strict vigilance on unity and order. Do not allow distinctions to crop up among Ananda Margis. Unity should be maintained even at the risk of one’s life. Do not under any circumstances allow individual interest to stand in the way of collective interest.</p>
			<p>(4) Do not allow any wealth of the world to go to waste; take especially active steps to prevent the waste of food, fuel and water.</p>
			<p>(5) The mutative force is a hundred thousand times more powerful than the static force, and the sentient force is a hundred thousand times more powerful than the mutative force; hence you should not be afraid of any force in the universe.</p>
			<P>(6) Remember, until every person in the universe accepts the Bliss ideology, you have no opportunity to rest.</p>
			<p>(7) Property entrusted to you by anybody should be carefully preserved, and you should continually strive to return it to the rightful owner.</p>
			<p>(8) In the case of unclaimed property, search for the rightful owner, and return it without taking any reward. For this work you can take help from governmental authorities where possible. If the owner is not found, the property should be made over to the state or donated to some public welfare institution, If there is a possibility of its deteriorating or otherwise becoming destroyed, sell it in the presence of five people (including one ácárya) and dispose of the money in the above manner.</p>
			<p>(9) Always be prepared to serve the Marga. For the sake of the Marga ideology do not be sparing, even of your life. Remember, in laying down one’s life with a great ideal in mind, mokśa is inevitable. This is the reward of death in the war of dharma.</p>
			<p>(10) It is a bigger thing to put one lesson into action than to hear many. You should put into action every lesson in your life.</p>
			<p>1956, Jamalpur</p>
		</div>
		<div ng-show="bookPageIndex == 5">
	 		<h2 class="heading">Paiṋcadasha Shiila (The Fifteen Rules of Behaviour)</h2>
			<p>1. Forgiveness.</p>
			<p>2. Magnanimity of mind.</p>
			<p>3. Perpetual restraint on behaviour and temper.</p>
			<p>4. Readiness to sacrifice everything of individual life for
			Ideology.</p>
			<p>5. All-round self-restraint.</p>
			<p>6. Sweet and smiling behaviour.</p>
			<p>7. Moral courage.</p>
			<p>8. Setting an example by individual conduct before asking anybody
			to do the same.</p>
			<p>9. Keeping aloof from criticizing others, condemning others,
			mudslinging and all sorts of groupism.</p>
			<p>10. Strict adherence to the principles of Yama and Niyama.</p>
			<p>11. Due to carelessness, if any mistake has been committed
			unknowingly or unconsciously, one must admit it immediately and
			ask for punishment.</p>
			<p>12. Even while dealing with a person of inimical nature, one must
			keep oneself free from hatred, anger and vanity.</p>
			<p>13. Keeping oneself aloof from talkativeness.</p>
			<p>14. Obedience to the structural code of discipline.</p>
			<p>15. Sense of responsibility.</p>
			<p>1975, Jamalpur </p>
		</div>
		<div ng-show="bookPageIndex == 6">
	 		<h2 class="heading">Conduct Rules for Sádhakas</h2>
			<p>1. Observing Paiṋcadasha Shiila (15 Shiilas) in daily life.</p>
			<p>2. Following directions in connection with physical, mental, spiritual and social aspects of life given in Caryácarya (Parts 1, 2 and 3).</p>
			<p>3. Observing uncompromising strictness and faith regarding the sanctity of Iśt́a, Ádarsha, the Supreme Command and the Conduct Rules.</p>
			<p>4. Strictly adhering to the code of 16 Points.</p>
			(In addition, there are separate conduct rules for householder ácáryas, whole-timers, local full-timers, local part-timers, táttvikas, ácáryas and avadhútas.</p>
			<p>1975, Patna</p>
		</div>
		<div ng-show="bookPageIndex == 7">
	 		<h2 class="heading">Sixteen Points</h2>
			<p>1. After urination, wash the urinary organ with water.</p>
			<p>2. Males should either be circumcised or keep the foreskin pulled back at all times.</p>
			<p>3. Never cut the hair of the joints of the body.</p>
			<p>4. Males should always use kaopiina (laungot́á).</p>
			<p>5. Do vyápaka shaoca as directed.</p>
			<p>6. Bathe according to the prescribed system.</p>
			<p>7. Take only sáttvika (sentient) food.</p>
			<p>8. Observe fast as prescribed.</p>
			<p>9. Do sádhana regularly.</p>
			<p>10. Observe uncompromising strictness and faith regarding the sanctity of the Iśt́a (Goal).</p>
			<p>11. Observe uncompromising strictness and faith regarding the sanctity of the Ádarsha (Ideology).</p>
			<p>12. Observe uncompromising strictness and faith regarding the sanctity of the Supreme Command.</p>
			<p>13. Observe uncompromising strictness and faith regarding the sanctity of the Conduct Rules.</p>
			<p>14. Always remember the content of your oaths.</p>
			<p>15. Regular participation in the weekly dharmacakra at the local jágrti should be considered mandatory.</p>
			<p>16. Observe C.S.D.K. (Conduct Rules, Seminar, Duty, Kiirtana).</p>
			<p>1975, Patna</p>
		</div>
		<div ng-show="bookPageIndex == 8">
	 		<h2 class="heading">Social Norms</h2>
			<p>1. You should offer thanks to someone from whom you are taking service (by saying, “Thank you”).</p>
			<p>2. You should promptly reply to someone’s namaskára in a similar way.</p>
			<p>3. One should receive or offer something with the following mudrá: extend the right hand, touching the right elbow with the left hand.</p>
			<p>4. One should stand up if any respectable elder person comes up to him/her.</p>
			<p>5. When yawning, cover your mouth, and at the same time make a snapping sound with your fingers.</p>
			<p>6. When talking, always use respectful words about someone who is absent.</p>
			<p>7. Before you sneeze, cover your mouth with handkerchief or hand.</p>
			<p>8. After cleaning the nasal duct, wash your hands. When distributing food, if you sneeze or cough, using your hand, wash your hands immediately.</p>
			<p>9. After passing stool and using water, wash your hands with soap, rubbing the soap in the right hand first, and then cleaning the left hand with the right.</p>
			<p>10. Before you come up to people who are engaged in talking, seek their permission.</p>
			<p>11. You should not engage in private (organizational) talk in a train, bus or other public transportation.</p>
			<p>12. Do not take another’s article without his or her prior consent.</p>
			<p>13. Do not use anything that belongs to someone else.</p>
			<p>14. When talking, do not hit anyone with harsh or pinching words: say what you want to say indirectly.</p>
			<p>15. Do not indulge yourself in criticizing others’ faults and defects.</p>
			<p>16. When you are going to a meeting with office personnel, you should seek prior permission, or send your identity card, or get verbal permission.</p>
			<p>17. You should refrain from reading the personal letters of others.</p>
			<p>18. When in conversation, give scope to others to express their views.</p>
			<p>19. When you are listening to someone, make a mild sound now and then to indicate that you are listening attentively.</p>
			<p>20. When speaking with someone, do not turn your eyes or face elsewhere.</p>
			<p>21. Do not sit in a “zamindary posture” and dance your feet in a silly manner.</p>
			<p>22. If someone you are going to speak with is writing at the time, do not look at his or her writing paper.</p>
			<p>23. Do not put your fingers in your mouth and take them out repeatedly, and never cut your fingernails with your teeth.</p>
			<p>24. During conversation, if you fail to understand something, humbly say, “Excuse me, please.”</p>
			<p>25. When someone is inquiring about your health and welfare, you should offer your cordial thanks to the person.</p>
			<p>26. One should not go to another’s house or call after 9:00 P.M.</p>
			<p>27. If you must convey something negative to someone, you should use the words “Excuse me” and then start your talk.</p>
			<p>28. Before you take a meal, you should wash your hands and feet.</p>
			<p>29. If you want to take honey, you should take it with water.</p>
			<p>30. Do not talk standing before someone who is eating.</p>
			<p>31. Do not sneeze or cough when you are at the dining table.</p>
			<p>32. Do not offer a food dish to anyone with your left hand.</p>
			<p>33. Do not take a bath or shower, or drink water, from a standing position.</p>
			<p>34. Do not pass urine or stool from a standing position.</p>
			<p>35. When your left nostril (id́á nád́ii) is active you should take liquid food, and take solid food when the right nostril (piuṋgalá nád́ii) is predominant.</p>
			<p>36. When your id́á nád́ii is working predominantly, you should utilize the time for your sádhaná.</p>
			<p>37. You should offer a drinking glass touching only its lower portion.</p>
			<p>38. When you are serving drinking water to someone, first wash the glass with the help of your fingers, then without the help of your fingers, then fill it with water.</p>
			<p>39. If you are sweating profusely at the time of taking food, you should remove the sweat with your handkerchief.</p>
			<p>1978, Patna</p>
		</div>
		<div ng-show="bookPageIndex == 9">
	 		<h2 class="heading">Concluding Words</h2>
			<p>Utilizing the vibrations created for eternal time</p>
			<p>by Shrii Shrii Ánandamúrtijii through jánusparsha</p>
			<p>and varábhaya mudrás, take</p>
			<p>yourself and the entire universe</p>
			<p>ahead along the path of</p>
			<p>all-round welfare.</p>
			<p>Oṋḿ shánti!</p>
			<p>1956, Jamalpur</p>
		</div>
	</ion-content>
</ion-view>