.main-side-menu .bar-stable .button.button-clear {
	color: #fff;
}
.main-side-menu .menu-left {
	/*background: #eee;*/
}
.side-menu-header {
	height: 30vw;
	background: #eee !important;
}
.side-menu-header .title img {
	width: 20vw;
	height: auto;
	margin-top: 2.5vw;
}
.side-menu-header .title {
	text-align: center !important;
	height: 30vw !important;

}
ol {
	list-style-type: decimal;
	margin-left: 15px;
}
ol li {
	margin-bottom: 7px;
}
img {
	max-width: 100%;
}
.side-menu-content {
	top: 30vw;
}
.side-menu-content .item {
	border-top: 1px solid #ddd;
	padding: 0;
}
.side-menu-content .item span {
	font-weight: bold;
	display: block;
	font-size: 4vw;
	padding: 4vw 0 4vw 5vw;
}
.accoContent {
	margin-left: 4vw;
}
.sidebarContentBody {
	padding: 5vw 8vw;
}
.side-menu-content .item span i {
	height: 4vw;
	width: 4vw;
	display: inline-block;
	float: right;
	margin-right: 5vw;
}
.side-menu-content .item a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 2vw;
	border-bottom: 1px solid #ddd;
	font-size: 4.22vw;
}
.side-menu-content .item a:last-child {
	border-bottom: 0; 
}
.side-menu-content .item a:first-child {
	padding-top: 0; 
}

.main-slider {
	height: 56vw;
	background: url(../img/main-slider.jpg);
	background-size: cover;
}
.main-slider .slider-slide {
	font-size: 4.50vw;
}

.main-article-list a {
	padding: 0 !important;
}
.main-article-list span {
	width: 100vw;
	height: 23vw;
	background-size: 100vw 23vw;
	display: block;
	font-family: 'papyrus';
	font-weight: bold;
	color: #000;
	font-size: 6.44vw;
}
.main-article-list .item:nth-child(even) span {
	color: #fff;
}
.main-article-list .item {
	border-top: 5px solid #000;
}


.bar-header .title.title-left {
	text-align: center;	
}
.header-item img {
	width: 28px;
    height: 34px;
    margin-top: 1.5vw;
}
.pull-right {
	float: right;
}
.header-item span {
	color: #fff;
}
.nav-bar-block .bar-header {
	background-color: #a00000;
	color: #fff;
}

.text-center {
	text-align: center;
}
.main-page-link-ddescription {
	padding: 5vw 8vw;
}
.heading {
	color: #e65c00;
	font-size: 6vw;
	margin-bottom: 5vw;
}
.main-page-link-ddescription p {
	font-size: 5vw;
	margin-bottom: 5vw;
	margin-top: 20px;
}
.bookTitle ul {
	list-style-type: decimal;
}
.bookTitle ul li {
	color: #e65c00;
	margin-bottom: 2vw;
}
.bookTitle ul li a{
	color: #000000;
	text-decoration: none;
	font-size: 4vw;
	display: block;
}

.bookBody p > span {
	display: block;
}

.treatment ul {
	padding-left: 18px;
}
.treatment ul li {
	color: #000000;
	margin-bottom: 20px;
}
.title.title-center.header-item {
	right: 10px !important;
}




.head_ing2 {
    font-size: 35px;
    color: #000000;
}
.head_ing5 {
    font-size: 6vw;
    color: #800040;
}

.blog_style_pg2 {
    font-size: 4.5vw;
    margin-top: 10px;
}

.blog_content3 {
    margin-top: 10px;
    
    padding-top: 0px;
    background-color: #ffffff;
}

.blog_content3 h2 a{
    text-decoration: none;
}

.posted_by {
    color: #666666;
    font-size: 4vw;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0px;
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}

.posted-by-img {
    margin-left: 10px;
    display: inline-block;
    width: 14%;
    height: 14%;
}

.last_update {
    margin-right: 10px;
    border-right: 1px solid #666666;
    padding-right: 10px;
}
.readMore {
	border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background: #cc2900;
    padding: 7px 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.blog_style {
    font-size: 18px;
    margin-top: 10px;
}

.Q-A_head_ing {
    font-size: 7vw;
    color: #330000;
}

.Popular-Addresses {
    padding: 10px 10px 10px 17px;
    color: #ff6600;
}

.address-box{
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}

.head_ing2 {
	font-size: 7vw;
	color: #000000;
	text-align: center;
}
.blog_style_AV {
	font-size: 4vw;
	margin-top: 10px;
	background-color: #aaff80;
	padding: 20px;
}

.blog_style_AV1 {
	font-size: 4vw;
	margin-top: 10px;
	background-color: #ffff99;
	padding: 20px;
}
.mantra2 {
	font-size: 3.5vw;
	float: right;
	font-style: italic;
	color:#4d0000;
}

